<h2>New Animal</h2>
<form method="POST" action="/animals">
  <div class="form-wrapper">
    
    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-el">
      <label for="dob">DOB:</label>
      <input type="text" name="dob" id="dob"/>
    </div>

    <div class="form-el">
      <label for="type">Type:</label>
      <input type="text" name="type" id="type"/>
    </div>

    <div class="form-el">
      <label for="contact_details">Contact Details of Owner:</label>
      <input type="text" name="contact_details" id="contact_details"/>
    </div>

    <div class="form-el">
      <label for="treatment_notes">Treatment Notes:</label>
      <input type="text" name="treatment_notes" id="treatment_notes"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Create Animal"/>
    </div>

  </div>
</form>