<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paws Vet Surgery</title>
</head>
<body>
    <main class="flex flex--row">
        <nav id="menu">
            <ul>
                <li class="menu-item"><a href='/vets'>Vets</a></li>
                <li class="menu-item"><a href='/customers'>Customers</a></li>
                <li class="menu=item"><a href='/animals'>Animals</a></li>
            </ul>
        </nav>
        <section id="content">
        <%= yield %>  
        </section> 
    </main>
</body>
</html>