<h1>Customers</h1>

<% for customer in @customers %>
    <p>Name: <%= customer.name %></p>
    <p><a href="/customers/<%=customer.id%>">Show Customer Details</a></p>
    <hr />
<% end %>

<p><a href="/customers/new">Add New Customer</a></p>